@import '../../styles/colors';
@import '../../index.scss';

.switch {
  display: block;
  width: 3.5rem;
  height: 2rem;

  margin-left: auto;
  border-radius: 2.4rem;

  input {
    display: none;
  }

  .track {
    position: relative;

    display: inline-block;
    width: 100%;
    height: 100%;

    border: 3px solid $blue;
    border-radius: 2.2rem;
    background-color: $blue;
    cursor: pointer;
  }

  .thumb {
    position: absolute;
    left: 0;
    top: 0;

    display: inline-block;
    width: 50%;
    height: 100%;

    background-color: $cream;
    border-radius: 2.4rem;
    transition: 0.4s;
  }

  input:checked + .track .thumb {
    transform: translateX(100%);
  }
}
