.pill {
  display: inline-block;

  color: $font-primary;
  font-family: Nunito500;
  background-color: $cream;

  border-radius: 10rem;
  padding: 0.4em 0.8em;
}

[data-theme='dark'] {
  .pill {
    color: $gray;
    background-color: $blue100;
  }
}
