.pill {
  display: inline-block;
  padding: 0.4em 0.8em;
  border-radius: 10rem;

  color: var(--font-primary);
  font-family: Nunito500;
  background-color: $cream;
}

[data-theme='dark'] {
  .pill {
    background-color: $blue100;
  }
}
