// colors
$white: #ffffff;
$cream: #d2d2be;
$pink: #fe92a4;

$gray: #e2e2de;
$gray50: #f2efec;

$blue: #4c668a;
$blue50: #2a4c63;
$blue100: #353361;
$blue200: #1f2d61;
$blue300: #0b3656;
$blue400: #152c39;
$blue500: #081b25;
