@font-face {
  font-family: 'Nunito200';
  src: local('Nunito200'),
    url(../assets/fonts/Nunito-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-light';
  src: local('Nunito-light'),
    url(../assets/fonts/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'),
    url(../assets/fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito-bold';
  src: local('Nunito-bold'),
    url(../assets/fonts/Nunito-Medium.ttf) format('truetype');
}
