// colors
$gray: #fffffb;
$gray50: #e2e2de;
$gray100: #f0eee9;
$gray200: #f2efec;

$blue: #5a87a7;
$blue50: #6282b1;
$blue50: #6686b6;
$blue100: #497799;
$blue200: #6180ae;
$blue300: #5080a2;
$blue400: #67729b;
$blue400: #2a4c63;

$blue-dark: #353361;
$blue-dark50: #1f2d61;
$blue-dark100: #0b3656;
$blue-dark200: #081b25;

$cream: #d2d2be;
$pink: #ff73b9;
