$font14: 1.4rem;
$font15: 1.5rem;
$font16: 1.6rem;

@font-face {
  font-family: 'Nunito200';
  src: local('Nunito200'),
    url(../../assets/fonts/Nunito-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito300';
  src: local('Nunito300'),
    url(../../assets/fonts/Nunito-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'),
    url(../../assets/fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nunito500';
  src: local('Nunito500'),
    url(../../assets/fonts/Nunito-Medium.ttf) format('truetype');
}
