* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline-width: 0.2rem;
  outline-offset: 0.2rem;
}

:root {
  --font-primary: #1f2d61;
  --font-secondary: #2a4c63;
  --font-tertiary: #747474;

  --bg-primary: #fffffb;
  --bg-secondary: #fff;
  --bg-tertiary: #999;

  --nav-icon: #d2d2be;
}

:root[data-theme='dark'] {
  --font-primary: #e2e2de;
  --font-secondary: #c4c0c0;
  --font-tertiary: #2a4c63;

  --bg-primary: #152c39;
  --bg-secondary: #152c39;

  --nav-icon: #c4c0c0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;

  font-size: 1.8rem;
  font-family: 'Nunito';
  color: var(--font-primary);
  background: var(--bg-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}

p {
  line-height: 1.8em;
}

.small-icon {
  width: 2rem;
  height: 2rem;
}

.large-icon {
  width: 4rem;
  height: 4rem;
}

.app {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

@media only screen and ($phone) {
  html {
    font-size: 57%;
  }
}
