$font-primary: $blue200;
$font-secondary: $blue50;
$font-tertiary: $gray50;
$bg-primary: $gray;
$bg-secondary: $white;
$bg-tertiary: $blue100;
$nav-icon: $cream;

// $font-primary-dark: $gray;
// $font-secondary-dark: $blue;
// $font-tertiary-dark: $gray50;
// $bg-primary-dark: $blue500;
// $bg-secondary-dark: $blue400;
// $bg-tertiary-dark: $gray50;
// $nav-icon-dark: $pink;
